Sources/GModGameAssets/Resources/Maps/*.bsp filter=lfs diff=lfs merge=lfs -text
Sources/GModGameAssets/Resources/Maps/*.nav filter=lfs diff=lfs merge=lfs -text
Sources/GModGameAssets/Resources/Maps/graphs/*.ain filter=lfs diff=lfs merge=lfs -text
Sources/GModGameAssets/Resources/ClientContent/** -text -diff
